<template>
  <div class="form-group">
    <template v-if="type !== 'radio'">
      <label :for="name">{{ label }}</label>
      <input
        class="form-field"
        v-model="value"
        :type="type"
        :name="name"
        :step=step
        v-if="type !== 'select' && type !== 'textarea'"
        :placeholder="placeholder"
      />
      <textarea
        class="form-field"
        v-model="value"
        :type="type"
        :name="name"
        v-if="type === 'textarea'"
        :placeholder="placeholder"
      />
      <select
        v-model="value"
        v-if="type === 'select' && component === 'improved'"
      >
        <option v-for="option in options" :key="option">
          {{ option }}
        </option>
      </select>
      <select
        v-model="value"
        v-if="type === 'select' && component === 'custom'"
      >
        <slot></slot>
      </select>
    </template>
    <template v-else>
      <label>{{ valueRadio }}</label>
      <input
        class="form-field"
        v-model="value"
        :type="type"
        :name="name"
        :value="valueRadio"
      />
    </template>
    <div
      id="errors"
      class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-red-500"
    >
      <ul>
        <li v-for="error in errors" :key="error">
          {{ error }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "Field",
  props: {
    type: { type: String, default: "text" },
    name: { type: String, default: "name" },
    component: { type: String },
    valueRadio: { type: String },
    options: Array,
    placeholder: { type: String, default: "Saisissez l'information..." },
    label: { type: String },
    step: { type: String }
  },
  computed: {
    value: {
      get: function () {
        return this.$parent.values[this.$props.name];
      },
      set: function (newValue) {
        this.$parent.values[this.$props.name] = newValue;
      },
    },
    errors: {
      get: function () {
        return this.$parent.$data.errors[this.$props.name];
      },
      set: function (newValue) {
        this.$parent.$data.errors[this.$props.name] = newValue;
      },
    },
  },
};
</script>

<style scoped>
/* label {
        width: 40%;
    } */
</style>
