<template>
    <p>lorem</p>
</template>

<script>
import VueNoty from 'vuejs-noty'

//import Noty from "../lib/Noty.vue"
console.log("Noty init")
console.log(VueNoty)

export default {
    name: "Noty",
}

// let log = document.getElementById('log');

// new Noty({
//    type: 'success',
//    layout: 'bottomLeft',
//    theme: 'nest',
//    text: 'Hello, just testing! 🤖',
//    timeout: '4000',
//    progressBar: true,
//    closeWith: ['click'],
//    killer: true,
//    callbacks: {
//       beforeShow: function() {
//          log.insertAdjacentHTML('beforeend', 'Preparing... ⏱<br/>');   
//       },
//       onShow: function() {
//          log.insertAdjacentHTML('beforeend', 'Showed ✨<br/>');
//       },
//       onHover: function() {
//          log.insertAdjacentHTML('beforeend', 'Hovered 👀<br/>');
//       },
//       onClick: function() {
//         log.insertAdjacentHTML('beforeend', 'Clicked ✅<br/>');
//       },
//       onClose: function() {
//          log.insertAdjacentHTML('beforeend', 'Bye 👋🏻<br/>');
//       }
//    },
// }).show();

</script>

<style scoped>

</style>