<template>
  <div class="form">
    <slot :handleSubmit="submitForm"></slot>
    <ul
      v-if="globalErrors.length !== 0"
      class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-red-500"
    >
      <li v-for="error in globalErrors" :key="error">
        {{ error }}
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  name: "Vuemik",
  data: () => ({
    errors: [],
    globalErrors: [],
  }),
  props: {
    initialValues: Object,
    onSubmit: Function,
    validate: Function,
    validationSchema: Object,
  },
  methods: {
    submitForm: async function() {
      if (this.$props.validationSchema) {
        await this.validating();
      }
      if (this.$props.validate) {
        this.$data.globalErrors = this.$props.validate(this.values);
      }
      if (
        (this.$data.errors.length === 0 ||
          (Object.keys(this.$data.errors).length === 0 &&
            this.$data.errors.constructor === Object)) &&
        this.$data.globalErrors.length === 0
      ) {
        this.$props.onSubmit(this.values);
      }
    },
    validating: async function() {
      await this.validateSchema(this.$props.validationSchema)
        .then((res) => res)
        .then((res) => {
          this.$data.errors = res;
        });
    },
    validateSchema: async function(schema) {
      let errors = Object.create({});
      await schema
        .validate(this.values, { abortEarly: false })
        .then(() => null)
        .catch((err) => {
          err.inner.forEach((error) => {
            if (errors[error.path] === undefined) errors[error.path] = [];
            errors[error.path].push(error.message);
          });
          return errors;
        });
      return errors;
    },
  },
    computed: {
        values: function () {
            return this.$props.initialValues;
        }
    }
}
</script>
<style scoped>
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
