<template>
  <section class="form-groupe">
    <div class="form-groupe--center">
      <h1 class="form-titre">{{ establishment.name }}</h1>
      <Vuemik :initialValues="initialValues" :onSubmit="handleSubmit">
        <template #default="{ handleSubmit }">
          <section class="flex">
            <div class="col-12">
              <Field
                type="text"
                name="name"
                label="Nom public"
                placeholder="Nom public ..."
                class="form-field"
              />
            </div>

            <div class="col-6">
              <Field
                type="email"
                name="contactEmail"
                label="Email de contact"
                placeholder="Email de contact ..."
                class="form-field"
              />
            </div>

            <div class="col-6">
              <Field
                type="tel"
                name="phoneNumber"
                label="Numéro de téléphone"
                placeholder="Numéro de téléphone ..."
                class="form-field"
              />
            </div>

            <div class="col-6">
              <Field
                type="text"
                name="address"
                label="Adresse"
                placeholder="Adresse ..."
                class="form-field"
              />
            </div>

            <div class="col-6">
              <Field
                type="text"
                name="addressComplement"
                label="Complément d'adresse"
                placeholder="Complément d'adresse ..."
                class="form-field"
              />
            </div>
            <div class="col-6">
              <Field
                type="text"
                name="city"
                label="Ville"
                placeholder="Ville ..."
                class="form-field"
              />
            </div>
            <div class="col-6">
              <Field
                type="text"
                name="zipCode"
                label="Code Postal"
                placeholder="Code Postal ..."
                class="form-field"
              />
            </div>
            <div class="col-12">
              <Field
                type="text"
                name="commercialName"
                label="Nom Commercial"
                placeholder="Nom Commercial ..."
                class="form-field"
              />
            </div>
            <div class="col-12">
              <Field
                type="textarea"
                name="description"
                label="Description de l'établissement"
                placeholder="Description de l'établissement..."
                class="form-field"
              />
            </div>
            <div class="col-12">
              <Field
                type="text"
                name="siret"
                label="SIRET"
                placeholder="SIRET..."
                class="form-field"
              />
            </div>
            <div class="col-12">
              <Field
                v-show="departments.length > 0"
                type="select"
                label="Départements"
                component="custom"
                name="department"
                class="form-select"
              >
                <option
                  v-for="dpt in departments"
                  :key="dpt.id"
                  :value="dpt.id"
                  class="form-select"
                >
                  {{ dpt.label }}
                </option>
              </Field>
            </div>
            <div class="col-6">
              <button v-if="isOwner()" class="form-cta" @click="redirect">
                Gérer les horaires
              </button>
            </div>
            <div class="col-6">
              <button
                v-if="isOwner()"
                class="form-cta"
                @click="redirectManager"
              >
                Gérer les manager
              </button>
            </div>
            <button
              @click.prevent="redirectServices"
              type="submit"
              class="form-cta"
            >
              Gérer les services de l'établissement
            </button>
            <button
              type="submit"
              @click.prevent="handleSubmit"
              class="form-cta"
            >
              Modifier les informations de l'établissement
            </button>
            <button
              type="submit"
              @click.prevent="deleteEstablishment"
              class="form-cta"
              v-if="isOwner()"
              id="OwnerDeleteEstablishment"
            >
              Supprimer l'établissement
            </button>
          </section>
        </template>
      </Vuemik>
    </div>
  </section>
</template>

<script>
import Vuemik from "../../../lib/Vuemik";
import Field from "../../../lib/Field";
import {
  updateDataEstablishment,
  getAllDepartments,
  deleteEstablishment,
} from "../../../lib/api";

export default {
  name: "ModifEstablishmentForm",
  data: () => ({
    days: [],
    user: JSON.parse(window.localStorage.getItem("User")),
    departments: [],
  }),
  props: {
    establishment: { type: Object, default: () => {} },
  },
  components: {
    Vuemik,
    Field,
  },
  computed: {
    initialValues: function () {
      return {
        contactEmail: this.$props.establishment.contactEmail,
        phoneNumber: this.$props.establishment.phoneNumber,
        name: this.$props.establishment.name,
        address: this.$props.establishment.address,
        addressComplement: this.$props.establishment.addressComplement,
        commercialName: this.$props.establishment.commercialName,
        siret: this.$props.establishment.siret,
        description: this.$props.establishment.description,
        zipCode: this.$props.establishment.zipCode,
        city: this.$props.establishment.city,
        department: this.$props.establishment.department["@id"],
      };
    },
  },
  methods: {
    handleSubmit: function (values) {
      this.$parent.$parent.waiting = true;
      updateDataEstablishment(values, this.$props.establishment["@id"]).then(
        () => {
          this.$noty.success("Enregistrement OK");
          this.$parent.$parent.waiting = false;
        }
      );
    },
    redirect: function () {
      this.$router.push({
        path: "/edit-hours/" + btoa(this.$props.establishment["@id"]),
      });
    },
    redirectManager: function () {
      this.$router.push({
        path: "/edit-managers/" + btoa(this.$props.establishment["@id"]),
      });
    },
    redirectServices: function () {
      this.$router.push({
        path: "/services/" + btoa(this.$props.establishment["@id"]),
      });
    },
    isOwner: function () {
      return this.$props.establishment.owner !== undefined
        ? this.$data.user.email === this.$props.establishment.owner.email
        : false;
    },
    deleteEstablishment: function () {
      this.$parent.$parent.waiting = true;
      deleteEstablishment(this.$props.establishment.id).then(() => {
        this.$parent.$parent.waiting = false;
        this.$router.push({
          name: "Establishments",
          params: {
            msg:
              "Votre établissement " +
              this.$props.establishment.siret +
              " a bien été supprimé",
          },
        });
      });
    },
  },
  mounted: function () {
    getAllDepartments().then((res) => (this.$data.departments = res));
  },
};
</script>


<style scoped lang="scss">
button {
  margin-top: 3%;
}

.form-groupe--center {
  z-index: 10;
  position: relative;
  margin-top: -10vh;
}

#OwnerDeleteEstablishment{
  background-color: $red;
}
</style>