<template>
  <section class="form-groupe">
    <div class="form-groupe--center">
      <h1 class="form-titre">Horaires d'ouverture</h1>
      <Vuemik :initialValues="initialValues" :onSubmit="handleSubmit">
        <template #default="{ handleSubmit }">
          <section class="col-12 flex">
            <div
              class="col-12 flex main-openhours"
              v-for="day in Object.keys(days)"
              :key="day"
            >
              <h2>{{ day }}</h2>
              <Field
                type="checkbox"
                :name="day + '.openOrClose'"
                class="form-field OpenOrClose"
                label="Ouvert"
              />
              <Field
                type="time"
                :name="day + '.startHour.Matin'"
                class="form-field col-6"
              />
              <Field
                type="time"
                :name="day + '.endHour.Matin'"
                class="form-field col-6"
              />
              <Field
                type="time"
                :name="day + '.startHour.Après-midi'"
                class="form-field"
              />
              <Field
                type="time"
                :name="day + '.endHour.Après-midi'"
                class="form-field"
              />
            </div>

            <button
              type="submit"
              @click.prevent="handleSubmit"
              class="form-cta"
            >
              Modifier
            </button>
          </section>
        </template>
      </Vuemik>
    </div>
  </section>
</template>

<script>
import Vuemik from "../../../lib/Vuemik";
import Field from "../../../lib/Field";
import * as Yup from "yup";
import { updateHours, getDays, getShifts } from "../../../lib/api";

export default {
  name: "OpenHoursForm",
  data: () => ({
    errorsUpdate: "",
    days: {},
    shifts: {},
  }),
  components: {
    Vuemik,
    Field,
  },
  methods: {
    handleSubmit: function (values) {
      this.$parent.$parent.waiting = true;
      let obj = {};

      Object.entries(values).forEach(([key, value]) => {
        let data = key.split(".");
        obj[this.$data.days[data[0]]] === undefined &&
          (obj[this.$data.days[data[0]]] = {});
        if (data[1] !== "openOrClose") {
          obj[this.$data.days[data[0]]][data[2]] === undefined &&
            (obj[this.$data.days[data[0]]][data[2]] = []);
          obj[this.$data.days[data[0]]][data[2]][data[1]] = value;
        } else {
          console.log();
          obj[this.$data.days[data[0]]][data[1]] = value;
        }
      });
      Object.keys(obj).forEach((Day) => {
        Object.keys(obj[Day]).forEach((Shift, index) => {
          if (
            obj[Day]["openOrClose"] &&
            obj[Day][Shift]["startHour"] !== "00:00" &&
            obj[Day][Shift]["endHour"] !== "00:00" &&
            obj[Day][Shift]["startHour"] !== undefined &&
            obj[Day][Shift]["endHour"] !== undefined
          ) {
            updateHours(
              Day,
              this.$data.shifts[Shift],
              atob(this.$route.params.encodedId),
              obj[Day][Shift]
            ).then(
              () => {
                if(index === Object.keys(obj[Day]).length -1){
                  this.$noty.success("Vos horaires ont bien été modifier !")
                }
              }
            );
          }
        });
      });
    },
    validateForm: function () {
      let errors = [];
      return errors;
    },
  },
  mounted: function () {
    getDays().then((res) => (this.$data.days = res));
    getShifts().then((res) => (this.$data.shifts = res));
  },
  computed: {
    validationSchema: () => {
      return Yup.object().shape({
        email: Yup.string().email("Invalid email").required("Required"),
        password: Yup.string().required("Required"),
      });
    },
    initialValues: function () {
      let obj = {};
      let openHours = this.$props.establishment.openHours !== undefined ? this.$props.establishment.openHours : [];
      Object.keys(this.$data.days).forEach((elem) => {
        obj[elem + ".openOrClose"] = false;
        obj[elem + ".startHour.Matin"] = "00:00";
        obj[elem + ".endHour.Matin"] = "00:00";
        obj[elem + ".startHour.Après-midi"] = "00:00";
        obj[elem + ".endHour.Après-midi"] = "00:00";
      });
      openHours.forEach((elem) => {
        obj[elem.day.name + ".openOrClose"] = true;
        if (elem.typeOfShift.name === "Matin") {
          obj[elem.day.name + ".startHour." + elem.typeOfShift.name] =
            elem.startHour;
          obj[elem.day.name + ".endHour." + elem.typeOfShift.name] =
            elem.endHour;
        }
        if (elem.typeOfShift.name === "Après-midi") {
          obj[elem.day.name + ".startHour." + elem.typeOfShift.name] =
            elem.startHour;
          obj[elem.day.name + ".endHour." + elem.typeOfShift.name] =
            elem.endHour;
        }
      });
      return obj;
    },
  },
  props: {
    establishment: { type: Object },
  },
};
</script>

<style lang="scss" scoped>
// .flex {
//   flex-wrap: inherit;
//   flex-direction: column;
// }

.form-groupe--center {
  z-index: 10;
  position: relative;
  margin-top: -10vh;

  .form-field {
    width: 49%;
  }

  .main-openhours {
    margin-bottom: $L;
  }

  .OpenOrClose {
    text-align: right;
  }
}

h2{
    @include typoTitre(20px, $bold, $black);
}
</style>