<template>
    <section class="form-groupe">
        <div class="form-groupe--center">
            <h1 class="form-titre">Mes informations</h1>
            <Vuemik
                :initialValues="initialValues"
                :onSubmit="handleSubmit"
            >
                <template #default="{ handleSubmit }">
                    <section class="flex">
                        <div class="col-12">
                            <Field type="radio" name="gender" valueRadio="Homme" class="form-radio"/>
                            <Field type="radio" name="gender" valueRadio="Femme" class="form-radio"/>
                            <br/>
                            <Field type="email" name="email" class="form-field" />
                        </div>
                        <div class="col-6">
                            <Field type="text" name="firstname" class="form-field" />
                        </div>

                        <div class="col-6">
                            <Field type="text" name="lastname" class="form-field" />
                        </div>

                        <div class="col-6">
                            <Field type="tel" name="phoneNumber" class="form-field"/>
                        </div>

                        <div class="col-6">
                            <Field type="date" name="birthdate" class="form-field"/>
                        </div>

                        <div class="col-12">
                            <Field v-show="departments.length > 0" type="select" label="Départements" component="custom" name="department" class="form-select" >
                                <option v-for="dpt in departments" :key="dpt.id" :value="dpt.id" class="form-select">
                                    {{dpt.label}}
                                </option>
                            </Field>
                            <Field type="password" name="password" placeholder="Mot de passe" class="form-field"/>
                            <Field type="password" name="confirmPassword" placeholder="Confirmations du mot de passe" class="form-field"/>
                        </div>
                        <button type="submit" @click.prevent="handleSubmit" class="form-cta">Modifier</button>
                        <button @click.prevent="deleteAccount" class="form-cta">
                          Supprimer mon compte
                        </button>
                    </section>
                </template>
            </Vuemik>
        </div>
    </section>
</template>

<script>
import Vuemik from "../../../lib/Vuemik";
import Field from "../../../lib/Field";
import * as Yup from "yup";
import { getAllDepartments, updateUser, deleteUser } from "../../../lib/api";

export default {
  name: "ProfileForm",
  data: () => ({
    errorsUpdate: "",
    user: JSON.parse(window.localStorage.getItem("User")),
    departments: [],
  }),
  components: {
    Vuemik,
    Field,
  },
  methods: {
    handleSubmit: function (values) {
      delete values.confirmPassword;
      if (values.password.length === 0) {
        delete values.password;
      }

      updateUser(this.$data.user.id, values).then((res) => {
        window.localStorage.setItem("User", JSON.stringify(res));
      });
    },
    validateForm: function () {
      let errors = [];
      return errors;
    },
    deleteAccount: function () {
      deleteUser(this.$data.user.id).then(() => {
        window.localStorage.clear();
        window.localStorage.setItem("env", "apiplatform");
        this.$router.push({ name: "Login", params: { connected: false } });
      });
    },
  },
  mounted: function () {
    getAllDepartments().then((res) => (this.$data.departments = res));
  },
  computed: {
    validationSchema: () => {
      return Yup.object().shape({
        email: Yup.string().email("Invalid email").required("Required"),
        password: Yup.string().required("Required"),
      });
    },
    initialValues: function () {
      console.log(this.$data.user);
      return {
        email: this.$data.user.email,
        password: "",
        confirmPassword: "",
        firstname: this.$data.user.firstname,
        lastname: this.$data.user.lastname,
        gender: this.$data.user.gender,
        department:
          this.$data.user.department !== undefined
            ? this.$data.user.department["@id"]
            : null,
        phoneNumber: this.$data.user.phoneNumber,
        birthdate: this.$data.user.birthdate.substring(0, 10),
      };
    },
  }
}
</script>


<style scoped lang="scss">
.form-groupe--center {
  z-index: 10;
  position: relative;
  margin-top: -10vh;
}

button:last-child{
  margin-top: 2vh;
  background-color: $red;
}
</style>