<template>
  <section class="form-groupe">
    <div class="form-groupe--center">
      <h1 class="form-titre">Service</h1>
      <Vuemik :initialValues="initialValues" :onSubmit="handleSubmit">
        <template #default="{ handleSubmit }">
          <section class="flex">
            <Field
              type="text"
              name="name"
              class="form-field"
              placeholder="Nom du service..."
              label="Nom du service"
            />
            <div class="col-6">
              <Field
                type="number"
                name="price"
                class="form-field"
                placeholder="Prix du service..."
                step="0.01"
                label="Prix du service"
              />
            </div>
            <div class="col-6">
              <Field
                type="number"
                name="duration"
                class="form-field"
                placeholder="Durée du service (en minute)..."
                label="Durée du service (en minute)"
              />
            </div>
            <button
              type="submit"
              @click.prevent="handleSubmit"
              class="form-cta"
            >
              Modifier
            </button>
          </section>
        </template>
      </Vuemik>
    </div>
  </section>
</template>

<script>
import Vuemik from "../../../lib/Vuemik.vue";
import Field from "../../../lib/Field.vue";
import { updateService } from "../../../lib/api";

export default {
  name: "UpdateServicesForm",
  components: {
    Vuemik,
    Field,
  },
  computed: {
    initialValues: function () {
      return {
        price: this.$props.service.price,
        duration: this.$props.service.duration,
        name: this.$props.service.name,
      };
    },
  },
  props: {
    service: { type: Object },
  },
  methods: {
      handleSubmit: function(values) {
          values.active = true;
          values.establishment = this.$props.service.establishment['@id']
          updateService(this.$props.service.id, values)
      }
  }
};
</script>

<style scoped lang="scss">
.form-groupe--center {
  z-index: 10;
  position: relative;
  margin-top: -10vh;
}

button{
  margin-top: 3vh;
}
</style>