<template>
    <section class="form-groupe">
        <div class="form-groupe--center">
            <h1 class="form-titre">Connexion</h1>
            <Vuemik
                :initialValues="initialValues"
                :onSubmit="handleSubmit"
                :validationSchema="validationSchema"
            >
                <template #default="{ handleSubmit }">
                    <Field type="text" name="email" class="form-field" placeholder="Saisissez votre adresse email..." label="Adresse email"/>
                    <Field type="password" name="password" class="form-field" placeholder="Saisissez votre mot de passe..." label="Mot de passe"/>
                    <button type="submit" @click.prevent="handleSubmit" class="form-cta">S'identifier</button>
                    {{errorConnexion}}
                </template>
            </Vuemik>
        </div>
    </section>
</template>

<script>
import Vuemik from "../../../lib/Vuemik";
import Field from "../../../lib/Field";
import * as Yup from "yup";
import { login, getInfoUser } from "../../../lib/api";

export default {
    name: "LoginForm",
    data: () => ({
        initialValues: {
            email: "",
            password: ""
        },
        errorConnexion: ""
    }),
    components: {
        Vuemik,
        Field
    },
    methods: {
        handleSubmit: function(values) {
            this.$parent.$parent.waiting = true;
            login(values).then(res => {
                if(res.code > 204)
                {
                    this.$parent.$parent.waiting = false;
                    this.$data.errorConnexion= res.message;
                } else {
                    window.localStorage.setItem('JWT', res.token);
                    let dataJwtEncoded = res.token.split('.')[1];
                    let dataJwtParsed = JSON.parse(atob(dataJwtEncoded));
                    getInfoUser(dataJwtParsed.ID).then(res => {
                        window.localStorage.setItem('User', JSON.stringify(res));
                        window.localStorage.setItem('Role', dataJwtParsed.roles[0]);
                        this.$parent.$parent.role = dataJwtParsed.roles[0];
                        this.$parent.$parent.connected = true;
                        this.$parent.$parent.waiting = false;
                        this.$router.history.push({name: "Establishments"});
                    })
                }
            });
        },
        validateForm: function() {
            let errors = [];
            return errors;
        }
    },
    computed: {
        validationSchema: () => {
            return Yup.object().shape({
                email: Yup.string()
                .email("Invalid email")
                .required("Required"),
                password: Yup.string()
                .required("Required")
            });
        }
    }
}
</script>