<template>
    <section class="form-groupe">
        <div class="form-groupe--center form-field" id="search-center-full">
            <label for="search">Rechercher un établissement</label>
            <input v-model="searchText" class="form-field" type="text" id="search" name="search" @input="searchInEstablishments" data-min-search="3" autocomplete="off"  placeholder="Saisissez le nom du commerce, exemple l'avantage"/>
            <div class="matchedQueries" v-if="establishmentsSearched.length > 0 && establishmentSelected === null">
                <p v-for="establishment in establishmentsSearched" :key="establishment.name" :data-path="btoa(establishment['@id'])" @click="redirectToEstablishmentPage">
                    {{establishment.name}}
                </p>
            </div>
        </div>
    </section>
</template>

<script>

export default {
    name: "SearchPage",
    data: () => ({
        establishmentsSearched: [],
        establishmentSelected: null,
        searchText: ""
    }),
    props: {
        establishmentsProps: {type: Array, default: () => [], required: true},
    },
    methods: {
        searchInEstablishments(e){
            this.$data.establishmentsSearched = [];
            this.$data.establishmentSelected = null;
            if(e.target.value.length >= e.target.getAttribute('data-min-search'))
            {
                this.$data.establishmentsSearched = this.establishments.filter(elem => elem.name.indexOf(e.target.value) !== -1 );
            }
            console.log(this.$data.establishmentsSearched);
        },
        redirectToEstablishmentPage(e) {
            this.$router.push(`/establishment/${e.target.getAttribute('data-path')}`)
        },
        btoa(value) {
            return btoa(value);
        }
    },
    computed: {
        establishments: {
            get: function() {
                return this.$props.establishmentsProps;
            }
        }
    }
}
</script>

<style scoped lang='scss'>
    .form-groupe--center {
        margin-top: 0;
    }

#search-center-full{
    width: 80%;
    padding: 2%;
    margin-top: -10vh;

    input{
        padding: 2%;
        margin-bottom: 0%;
    }
}
</style>