<template>
  <div class="hello">
      <section class="bg mt">
          <div class="filter"></div>
          <h1>Administration</h1>
      </section>
      <div class="conteneur">
          <section class="flex" id="MyRoutes">
                <section class="card col-4">
                    <li @click="() => redirect('ValidNewEstablishments')">
                        <h3>Etablissements</h3>
                        <span>Valider les nouveaux établissements</span>
                    </li>
                </section>
                <section class="card col-4">
                    <li @click="() => redirect('ListUsers')">
                        <h3>Utilisateurs</h3>
                        <span>Liste des utilisateurs sur la plate-forme</span>
                    </li>
                </section>
          </section>
      </div>
  </div>
</template>

<script>
export default {
    name: "Administration",
    methods: {
        redirect: function(nameRoute){
            this.$router.push({name: nameRoute})
        }
    }
}
</script>

<style scoped lang="scss">
#MyRoutes{
    ul, li{
        cursor: pointer;
    }
}
.card{
    margin-top: -3%;
    z-index: 10;
}
.bg{
  background-image: url("../../assets/img/background-coiffeur8.jpg");
}

.mt {
    margin-top: 22px;
}

.flex {
    justify-content: center;
}
</style>