<template>
  <div class="hello">
    <section class="bg mt">
      <div class="filter"></div>
      <h1>Gérer mes établissements</h1>
    </section>
    <CreateEstablishmentForm />
  </div>
</template>

<script>
import CreateEstablishmentForm from "../Forms/CreateForms/CreateEstablishmentForm.vue";
export default {
  name: "CreateEstablishment",
  components: {
    CreateEstablishmentForm,
  },
};
</script>

<style scoped lang="scss">
.bg {
  background-image: url("../../assets/img/background-coiffeur10.jpg");
}

.mt {
  margin-top: 22px;
}
</style>
