<template>
  <div class="hello">
    <section class="bg mt">
      <div class="filter"></div>
      <h1>Demande de rattachements</h1>
    </section>
    <div class="conteneur" id="demandes">
      <section class="flex">
        <div v-for="pendingRequest in pendingRequests" :key="pendingRequest[0].name">
          {{pendingRequests}}
          <section
          v-for="request in pendingRequest"
          :key="request"
          class="card col-3"
          >
          <h2>{{ request.establishment.name }}</h2>
          <h2>{{ request.manager.email }}</h2>
          <button class="accept" @click="() => decision(true, request.id)">Accepter</button>
          <button class="refuse" @click="() => decision(false, request.id)">Refuser</button>
        </section>
        </div>
        <section @click="redirect" class="card col-3">
          <h2>Faire une demande de rattachement</h2>
        </section>
      </section>
    </div>
  </div>
</template>

<script>
import { getPendingRequest, getListEstablishmentsByRole, updateRattachement } from "../../lib/api";
export default {
  name: "DemandeRattachements",
  data: () => ({
    pendingRequests: []
  }),
  mounted: function () {
    this.$parent.waiting = true;
    getListEstablishmentsByRole("owner").then((res) => {
      this.$parent.waiting = false;
      res.forEach((elem, index) => {
            this.$parent.waiting = true;
        getPendingRequest(elem.id).then((res) => {
          this.$parent.waiting = false;
          this.$data.pendingRequests[index] = res
          }
        );
      })
    });
    console.log(this.$data.pendingRequests);
  },
  methods: {
    redirect: function () {
      this.$router.push({ name: "NewAskForJoining" });
    },
    decison: function(value, id) {
      updateRattachement(value, id).then(this.history.push({name: 'DemandeRattachements'}))
    }
  },
};
</script>

<style scoped lang="scss">
.bg{
  background-image: url("../../assets/img/background-coiffeur.jpg");
}

.mt {
    margin-top: 22px;
}

.card{
  cursor: pointer;
  margin-top: -5vh;
  position: relative;
  z-index: 10;
}

.flex{
  justify-content: center;
}
</style>
