<template>
    <div class="hello">
        <section class="bg mt">
            <div class="filter"></div>
            <h1>{{dataEstablishment.name}}</h1>
        </section>
        <div class="conteneur" id="info-establishment">
            <section class="flex">
                <section class="box col-12 flex">
                    <div class="col-5">
                        <div class="info-contact">
                            <h2>Nous contacter</h2>
                            <p>Phone: <a :href="'tel:'+dataEstablishment.phoneNumber">{{dataEstablishment.phoneNumber}}</a></p>
                            <p>Address: {{dataEstablishment.address}} {{dataEstablishment.zipCode}} {{dataEstablishment.city}}</p>
                            <p>Email: <a :href="'mailTo:'+dataEstablishment.contactEmail">{{dataEstablishment.contactEmail}}</a></p>
                        </div>
                        <div class="info-horaires">
                            <table>
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Horaires</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="([key, value]) in Object.entries(openHours)" :key="key">
                                        <td>
                                            {{key}}
                                        </td>
                                        <td v-for="([keyShift, valueShift]) in Object.entries(value)" :key="valueShift">
                                            {{keyShift}} - {{valueShift.startHour}} - {{valueShift.endHour}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-7">
                        <h2>Qui sommes-nous ?</h2>
                        <p>{{dataEstablishment.description}}</p>
                        <button v-if="isAdmin()" @click.prevent="redirect">Modifier l'établissement</button>
                        <button class="form-cta" @click.prevent="redirectRdv">
                            Prendre Rendez-Vous
                        </button>
                    </div>
                </section>
            </section>
        </div>
    </div>
</template>

<script>
import { getDataEstablishment } from "../../lib/api";
export default {
    name: "DetailEstablishment",
    data: () => ({
        dataEstablishment: {}  
    }),
    mounted: function(){
        getDataEstablishment(atob(this.$route.params.encodedId)).then(res => {
            this.$data.dataEstablishment = res;
        })
    },
    computed: {
        openHours: function(){
            let openHours = this.$data.dataEstablishment.openHours;
            return this.sortOpenHours(openHours);
        }
    },
    methods: {
        sortOpenHours: function(openHours){
            let arrayTmp = []
            openHours.forEach((elem) => {
                arrayTmp[elem.day.name] === undefined && (arrayTmp[elem.day.name] = [])
                arrayTmp[elem.day.name][elem.typeOfShift.name] = elem; 
            });
            return arrayTmp;
        },
        isAdmin: function(){
            return window.localStorage.getItem('Role') === 'ROLE_ADMIN'
        },
        redirect: function(){
            this.$router.history.push({name: "ModifDetailEstablishment", path: "/modif-establishment/" + btoa(this.$data.dataEstablishment['@id'])})
        },
        redirectRdv: function(){
            this.$router.history.push({
                name: "PriseRdv", path: "/prise-rdv" + btoa(this.$data.dataEstablishment['@id'])
            })
        }
    }
}
</script>

<style scoped lang="scss">
.bg{
  background-image: url("../../assets/img/background-coiffeur.jpg");
}

.mt {
    margin-top: 22px;
}
</style>
