<template>
   <div class="hello">
        <section class="bg mt">
            <div class="filter"></div>
            <h1>Modifier le service {{ service.name }}</h1>
        </section>
        <UpdateServicesForm :service="service"/>
    </div>
</template>

<script>
import { getService } from "../../lib/api";
import UpdateServicesForm from "../Forms/UpdateForms/UpdateServicesForm.vue";
export default {
    name: "EditServices",
    data: () => ({
        service: {}
    }),
    mounted: function(){
        this.$parent.waiting = true;
        getService(atob(this.$route.params.encodedId)).then(res => {
            this.$data.service = res
            this.$parent.waiting = false;
            }
        )
    },
    components: {
        UpdateServicesForm
    }
}
</script>

<style scoped lang="scss">
.bg{
  background-image: url("../../assets/img/background-coiffeur4.jpg");
}
.mt {
    margin-top: 22px;
}
</style>