<template>
  <div class="hello">
    <section class="bg mt">
      <div class="filter"></div>
      <h1>Gérer les managers</h1>
    </section>
    <div class="conteneur" id="users">
      <section class="flex">
        <section class="card col-12">
          <div class="matchedQueries col-6">
            <p
              v-for="user in users"
              :key="user.name"
              @click="() => updateSelectedUser(user)"
            >
              {{ user.id }} | {{ user.email }} - {{ user.lastname }}
              {{ user.firstname }}
            </p>
          </div>
          <div class="col-6">
            <button class="cta" @click.prevent="() => deactivateManager()">
              Supprimer
            </button>
          </div>
        </section>
      </section>
    </div>
  </div>
</template>

<script>
import { getDataEstablishment, updateStatusOfManager } from "../../lib/api";
export default {
  name: "EditManagers",
  data: () => ({
    establishment: {},
    selectedUser: "",
  }),
  mounted: function () {
    this.$parent.waiting = true;
    getDataEstablishment(atob(this.$route.params.encodedId)).then((res) => {
      this.$parent.waiting = false;
      this.$data.establishment = res;
    });
  },
  computed: {
    users: function () {
      console.log(this.$data.establishment.managers);
      return this.$data.establishment.managers;
    },
  },
  methods: {
    deactivateManager: function () {
      this.$parent.waiting = true;
      let data = this.$data.selectedUser['@id'].split('/');
      updateStatusOfManager(data[data.length - 1], false).then(() => {
        getDataEstablishment(atob(this.$route.params.encodedId)).then((res) => {
          this.$parent.waiting = false;
          this.$noty.success(
            `Le manager ${this.$data.selectedUser.name} a bien été désactivé de votre établissement`
          );
          this.$data.establishment = res;
        });
      });
    },
    updateSelectedUser: function (user) {
      this.$data.selectedUser = user;
    },
  },
};
</script>

<style scoped lang="scss">
.bg {
  background-image: url("../../assets/img/background-coiffeur5.jpg");
}
.mt {
  margin-top: 22px;
}

.matchedQueries{
  margin-top: 3vh;
}

.card{
  z-index: 10;
  position: relative;
  margin-top: -10vh;
}

button{
  border: none;
}
</style>