<template>
  <div class="hello">
    <section class="bg mt">
      <div class="filter"></div>
      <h1>Modifier les horaires</h1>
    </section>
    <OpenHoursForm :establishment="establishment" />
  </div>
</template>

<script>
import { getDataEstablishment } from "../../lib/api";
import OpenHoursForm from "../Forms/UpdateForms/OpenHoursForm.vue";
export default {
  name: "EditHours",
  components: {
    OpenHoursForm,
  },
  data: () => ({
    establishment: {},
  }),
  mounted: function () {
    getDataEstablishment(atob(this.$route.params.encodedId)).then(
      (res) => (this.$data.establishment = res)
    );
  },
};
</script>

<style scoped lang="scss">
.bg{
  background-image: url("../../assets/img/background-coiffeur5.jpg");
}
.mt {
    margin-top: 22px;
}
</style>