<template>
  <div class="hello">
    <section class="bg mt">
      <div class="filter"></div>
      <h1>Rechercher un établissement</h1>
    </section>

    <div class="conteneur" id="establishments">
      <SearchForm
          :establishmentsProps="Establishments"
      />
      <section class="flex">
        
        <section @click="() => redirect(item['@id'])" class="card col-3" v-for="item in Establishments" :key="item.commercialName">
          <img src="https://picsum.photos/500/500" alt="image">
          <li>
            <h3>{{ item.commercialName }}</h3>
            <br/>
            <span>{{ item.city }} {{ item.zipCode }}</span>
            <img :src="item.illustration"/>
            <p class="content-name">{{ item.name }}</p>
            <br/>
            <p class="content-description"><span>Description :</span><br/>{{ item.description }}</p>
            <!-- <p>{{ item.openHours }}</p> -->
          </li>
        </section>    
      </section>
    </div>
  </div>
</template>

<script>
import { getAllEstablishments } from "../../lib/api";
import SearchForm from "../Forms/SpecificForms/SearchForm.vue";

export default {
  name: 'Establishments',
    data: () => ({
      Establishments: []
    }),
  methods: {
        redirect: function(uri) {
          this.$router.push({path: '/establishment/'+btoa(uri)});
        }
  },
  props: {
    msg: {type: String, default: ""}
  },
  mounted: function(){
        this.$parent.$data.waiting = true
        getAllEstablishments().then(res => {
          this.$parent.$data.waiting = false; 
          this.$data.Establishments = res;
          if(this.$props.msg !== "")
          {
            this.$noty.info(this.$props.msg);
          }
        } 
      );
  },
  components: {
    SearchForm
  },
}
</script>

<style scoped lang="scss">
.bg{
  background-image: url("../../assets/img/background-coiffeur4.jpg");
}
.mt {
    margin-top: 22px;
}
</style>
