<template>
  <div class="mt">
    <h1>{{ msg }} - Hello BITCHES</h1>
    <h2>{{ msg }} - Hello BITCHES</h2>
    <button @click.prevent="firstCallApi">my first call api</button>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  methods: {
    firstCallApi: function() {
      fetch('http://localhost:8000/api/tests').then(res => res.json()).then(res => console.log(res));
    }
  },
  mounted: function(){
    this.$noty.success("Hello World");
  }
}
</script>

<style scoped lang="scss">
h1 {
  color: $yellow;
}
</style>
