<template>
    <div class="mt">
       <h1 class="titre_home">Find Your Barber !</h1>
    </div>
</template>

<script>
export default {
  name: 'Home'
}
</script>

<style scoped lang="scss">
.titre_home {
  font-weight: bold;
  font-size: 50px!important;
  font-family: 'Raleway';
}

.mt {
  position: absolute;
  top: 50%;
  left: 35%;
}
</style>