<template>
  <div class="h">
    <section class="bg mt">
      <div class="filter"></div>
      <h1>Liste des établissement</h1>
    </section>
    <div class="conteneur">
      <section class="flex">
        <section
          class="card col-3"
          id="content"
          v-for="establishment in establishments"
          :key="establishment.name"
          @click="() => redirect(establishment)"
        >
          <!-- <img v-for="item in Establishments" :src="item.illustration" :key="item.commercialName" /> -->
          <img src="../../assets/img/logo.png" alt="etab 1" />
          <li>
            <h3>{{ establishment.name }}</h3>
            <span>{{ establishment.city }} {{ establishment.zipCode }}</span>
            <!-- <img :src="establishment.illustration"/> -->
          </li>
        </section>
      </section>
    </div>
  </div>
</template>

<script>
export default {
  name: "ListEstablishments",
  props: {
    establishments: { type: Array, default: () => [] },
  },
  methods: {
    redirect: function(value) {
      this.$router.push('modif-establishment/'+btoa(value['@id']))
    }
  }
  
};
</script>

<style scoped lang="scss">
.card{
    margin-top: -3%;
    z-index: 10;
    margin-bottom: 10vh;
    img{
      width: 50%;
      margin-bottom: 5vh;
    }
}

#content{
  cursor: pointer!important;
}

.flex{
  justify-content: flex-start;
}

.bg{
  background-image: url("../../assets/img/background-coiffeur2.jpg");
  background-position: top;
}
.mt {
    margin-top: 22px;
}
</style>