<template>
  <div class="hello">
    <section class="bg mt">
      <div class="filter"></div>
      <h1>Liste des Utilisateurs</h1>
    </section>
    <div class="conteneur" id="users">
      <section class="flex">
        <section class="col-6">
          <div class="matchedQueries col-12">
            <p
              v-for="(user, index) in users"
              :key="user.name"
              @click="() => updateSelectedUser(user, index)"
              v-bind:class="{ active:isActive == index }"
            >
              {{ user.id }} | {{ user.email }} - {{ user.lastname }} {{ user.firstname }}
            </p>
          </div>
          <div class="col-12">
            <button class="form-cta" @click.prevent="() => deleteAccount()">Supprimer</button>
          </div>
        </section>
      </section>
    </div>
  </div>
</template>

<script>
import { getUsers, deleteUser } from "../../lib/api";
export default {
  name: "ListUsers",
  data: () => ({
    selectedUser: "",
    users: [],
    isActive: -1,
  }),
  mounted: function () {
    this.$parent.waiting = true;
    getUsers().then((res) => {
      this.$data.users = res;
      this.$parent.waiting = false;
    });
  },
  methods: {
    updateSelectedUser: function(value, index){
      this.$data.selectedUser = value;
      this.$data.isActive = index;
    },
    deleteAccount: function() {
      if(this.$data.selectedUser !== "")
      {
        this.$parent.waiting = true;
        deleteUser(this.$data.selectedUser.id).then(() => {
          getUsers().then(res => {
            this.$data.users = res;
            this.$parent.waiting = false;
            this.$noty.info("L'utilisateur a bien été supprimé");
          })
        })
      } else {
        this.$noty.error('Veuillez séléctionner un utilisateur en premier.')
      }
    }
  }
};
</script>

<style scoped lang="scss">
.bg {
  background-image: url("../../assets/img/background-coiffeur4.jpg");
}
.mt {
  margin-top: 22px;
}

.matchedQueries{
  z-index: 10;
  position: relative;
  margin-top: -10vh;
}

.flex{
  justify-content: center;
}

button{
  border: none;
  margin-bottom: 3vh;
}

.active{
  background-color: $blue;
  color: $white;
  font-weight: $bold;
}

.isActive{
  background-color: red;
  color: green;
}

p{
  cursor: pointer;
}
</style>