<template>
    <div>
        <LoginForm/>
    </div>
</template>

<script>
import LoginForm from '../Forms/SpecificForms/LoginForm.vue';

export default {
    name: "Login",
    components: {
        LoginForm
    },
    props: {
        connected: {type: Boolean, default: false}
    },
    mounted: function(){
        this.$parent.$data.connected = this.$props.connected;
    }
}
</script>