<template>
  <div class="hello">
    <section class="bg mt">
      <div class="filter"></div>
      <h1>Gérer {{ data.name }}</h1>
    </section>
    <ModifEstablishmentForm :establishment="data" />
    <div class="conteneur" v-if="services.length > 0">
      <section class="flex">
        <section @click="() => redirect(service['@id'])" class="card col-3" v-for="service in services" :key="service.name">
          <img src="https://picsum.photos/500/500" alt="image">
          <li>
            <h3>{{ service.name }}</h3>
            <span>{{ service.price }}€ - {{ service.duration }} minutes</span>
          </li>
        </section>    
      </section>
    </div>
  </div>
</template>

<script>
import { getDataEstablishment } from "../../lib/api";
import ModifEstablishmentForm from "../Forms/UpdateForms/ModifEstablishmentForm.vue";

export default {
  name: "ModifDetailEstablishment",
  data: () => ({
    data: {},
  }),
  components: {
    ModifEstablishmentForm,
  },
  mounted: function () {
    this.$parent.waiting = true;
    getDataEstablishment(atob(this.$route.params.encodedId)).then(
      (res) => {
        this.$data.data = res;
        this.$parent.waiting = false;
      }
    );
  },
  computed: {
    services: function() {
      return this.$data.data.services;
    }
  },
  methods: {
    redirect: function(uri){
      this.$router.history.push({
        path: '/edit-services/' + btoa(uri)
      })
    }
  }
};
</script>

<style scoped lang="scss">
.bg {
  background-image: url("../../assets/img/background-coiffeur9.jpg");
}
.mt {
  margin-top: 22px;
}

h3{
  margin-top: 2vh;
}

.card span{
  font-weight: 300;
  color: $lightgrey;
}
</style>