<template>
  <div class="hello">
    <section class="bg mt">
      <div class="filter"></div>
      <h1>Gérer mes établissements</h1>
    </section>
    <div class="conteneur">
      <section class="flex" id="MyEstablishments">
        <section class="card col-4" v-if="establishmentsOwner.length > 0">
          <li @click="() => redirect(establishmentsOwner)">
            <h3>Propriétaires</h3>
            <span>Gérer mes établissements perso</span>
          </li>
        </section>
        <section class="card col-4" v-if="establishmentsManager.length > 0">
          <li @click="() => redirect(establishmentsManager)">
            <h3>Manager</h3>
            <span>Gérer les établissements dont je suis manager</span>
          </li>
        </section>
        <section class="card col-4">
          <li @click="redirectCreate">
            <span>Créer mon propre établissement</span>
          </li>
        </section>
      </section>
    </div>
  </div>
</template>

<script>
import { getListEstablishmentsByRole } from "../../lib/api";

export default {
  name: "MyEstablishments",
  data: () => ({
    establishmentsOwner: [],
    establishmentsManager: [],
  }),
  methods: {
    redirect: function (param) {
      this.$router.push({
        name: "ListEstablishments",
        params: { establishments: param },
      });
    },
    redirectCreate: function () {
      this.$router.push({ name: "CreateEstablishment" });
    },
  },
  mounted: function () {
    this.$parent.waiting = true;
    getListEstablishmentsByRole("owner").then((res) => {
      this.$data.establishmentsOwner = res;
      getListEstablishmentsByRole("manager").then((res) => {
        this.$data.establishmentsManager = res;
        this.$parent.waiting = false;
      });
    });
  },
};
</script>

<style scoped lang="scss">
#MyEstablishments {
  ul,
  li {
    cursor: pointer;
  }
}
.card {
  margin-top: -3%;
  z-index: 10;
}
.bg {
  background-image: url("../../assets/img/background-coiffeur8.jpg");
}

.mt {
  margin-top: 22px;
}

.flex {
  justify-content: center;
}
</style>