<template>
    <div class="hello">
        <section class="bg mt">
            <div class="filter"></div>
            <h1>Mon Profil</h1>
        </section>
        <ProfileForm/>
    </div>
</template>

<script>
import ProfileForm from "../Forms/UpdateForms/ProfileForm.vue";
export default {
    name: "MyProfile",
    components: {
        ProfileForm
    }
}
</script>

<style scoped lang="scss">
.bg{
  background-image: url("../../assets/img/background-coiffeur7.jpg");
}

.mt {
    margin-top: 22px;
}
</style>
