<template>
  <div class="hello">
    <section class="bg mt">
      <div class="filter"></div>
      <h1>Mes Rendez-vous</h1>
    </section>
    <div class="conteneur">
      <section class="flex" id="myRdv">
        <section
          class="card col-3"
          v-for="appointment in appointments"
          :key="appointment.id"
        >
          <h2>{{ appointment.establishment.name }}</h2>
          <p>{{ appointment.startHour }} - {{ appointment.endHour }}</p>
          <p>{{ appointment.appointmentStatus.name }}</p>
          <p v-for="service in appointment.services" :key="service.name">{{ service.name }}</p>
        </section>
      </section>
    </div>
  </div>
</template>

<script>
import { getAllMyAppointments } from "../../lib/api";

export default {
  name: "MyRdv",
  data: () => ({
    appointments: [],
  }),
  mounted: function () {
    getAllMyAppointments().then((res) => (this.$data.appointments = res));
  },
};
</script>

<style>
</style>