<template>
    <div class="hello">
    <section class="bg mt">
      <div class="filter"></div>
      <h1>Rechercher un établissement</h1>
    </section>
    <AskForJoiningForm/>
  </div>
</template>

<script>
import AskForJoiningForm from "../Forms/CreateForms/AskForJoiningForm.vue";
export default {
    name: "AskForJoining",
    components: {
        AskForJoiningForm
    }
}
</script>

<style scoped lang="scss">
.bg{
  background-image: url("../../assets/img/background-coiffeur.jpg");
}

.mt {
    margin-top: 22px;
}
</style>