<template>
  <div class="hello">
    <section class="bg mt">
      <div class="filter"></div>
      <h1>Prendre un rendez-vous chez {{ establishment.name }}</h1>
    </section>
    <section class="form-groupe">
      <div class="form-groupe--center">
        <h1 class="form-titre">Rechercher les disponibilités</h1>
        <input
          type="date"
          class="form-field"
          :value="date"
          @blur="changeDate"
        />
        {{ errorMessage }}
      </div>
      <div class="col-12 box" id="bigcalendar" v-if="date.length > 0">
        <vue-cal
          style="height: 70vh"
          hide-view-selector
          :time-from="startHour() * 60"
          :time-to="endHour() * 60"
          :selected-date="date"
          :events="appointments"
          active-view="day"
          :disable-views="['years', 'year', 'week', 'month']"
          :time-step="15"
        />
      </div>
    </section>
    <section class="form-groupe" v-if="date.length > 0">
      <div class="form-groupe--center">
        <h1 class="form-titre">Services</h1>
        <Vuemik :initialValues="initialValues" :onSubmit="handleSubmit">
          <template #default="{ handleSubmit }">
            <section class="flex">
              <Field
                v-show="establishment.services.length > 0"
                type="select"
                label="Services"
                component="custom"
                name="service"
                class="form-select"
                @change="ChangeSelectedService"
              >
                <option
                  v-for="service in establishment.services"
                  :key="service.id"
                  :value="service['@id']"
                  class="form-select"
                  @click="() => ChangeSelectedService(service)"
                >
                  {{ service.name }} - {{ service.price }}€ ({{
                    service.duration
                  }}
                  minutes)
                </option>
              </Field>
              <div class="col-12">
                <Field
                  type="time"
                  name="startHour"
                  class="form-field"
                  placeholder="Heure du rdv..."
                  label="Heure du rdv"
                />
              </div>
              <button
                type="submit"
                @click.prevent="handleSubmit"
                class="form-cta"
              >
                Créer
              </button>
              {{ errorMessage }}
            </section>
          </template>
        </Vuemik>
      </div>
    </section>
  </div>
</template>

<script>
import {
  getDataEstablishment,
  getAppointments,
  createAppointment,
} from "../../lib/api";
import VueCal from "vue-cal";
import "vue-cal/dist/vuecal.css";
import Vuemik from "../../lib/Vuemik";
import Field from "../../lib/Field";

export default {
  name: "PriseRdv",
  data: () => ({
    establishment: {},
    errorMessage: "",
    date: "",
    appointments: [],
    openHoursDay: {},
    initialValues: {
      service: "",
      startHour: "",
    },
    ServiceSelected: {}
  }),
  components: {
    "vue-cal": VueCal,
    Vuemik,
    Field,
  },
  mounted: function () {
    this.$parent.waiting = true;
    getDataEstablishment(atob(this.$route.params.encodedId)).then((res) => {
      this.$parent.waiting = false;
      this.$data.establishment = res;
    });
  },
  computed: {
    openDays: function () {
      let days = [];
      let openHours = this.$data.establishment.openHours;
      if (openHours) {
        openHours.forEach((elem) => {
          days.indexOf(elem.day.name) === -1 && days.push(elem.day.name);
        });
      }
      return days;
    },
    openHours: function () {
      let openHours = this.sortOpenHours(this.$data.establishment.openHours);
      return openHours;
    },
  },
  methods: {
    redirect: function (day) {
      this.$router.push({
        path:
          "/rdv-day/" + btoa(this.$data.establishment["@id"]) + "/" + btoa(day),
      });
    },
    sortOpenHours: function (openHours) {
      let objTmp = new Object();
      openHours.forEach((elem) => {
        objTmp[elem.day.name] === undefined &&
          (objTmp[elem.day.name] = new Object());
        objTmp[elem.day.name][elem.typeOfShift.name] = elem;
      });
      return objTmp;
    },
    changeDate: function (e) {
      let date = new Date(e.target.value);
      let days = [
        "Lundi",
        "Mardi",
        "Mercredi",
        "Jeudi",
        "Vendredi",
        "Samedi",
        "Dimanche",
      ];
      this.$data.date = e.target.value;
      let datePart = e.target.value.split("-");
      let dateFormatted = [datePart[2], datePart[1], datePart[0]].join("-");
      if (this.openDays.indexOf(days[date.getDay() - 1]) !== -1) {
        this.$parent.waiting = true;
        this.$data.openHoursDay = this.openHours[days[date.getDay() - 1]];
        getAppointments(this.$data.establishment.id, dateFormatted).then(
          (res) => {
            this.$parent.waiting = false;
            res.forEach((elem) => {
              let startHour = elem.startHour.split("T");
              let endHour = elem.endHour.split("T");

              startHour = startHour[1].split(":");
              startHour = [startHour[0], startHour[1]].join(":");

              endHour = endHour[1].split(":");
              endHour = [endHour[0], endHour[1]].join(":");

              this.$data.appointments.push({
                title: "Reservé",
                start: this.$data.date + " " + startHour,
                end: this.$data.date + " " + endHour,
              });
            });
            if (this.$data.openHoursDay["Journée entière"] === undefined) {
              this.$data.appointments.push({
                title: "Fermé",
                start:
                  this.$data.date +
                  " " +
                  this.$data.openHoursDay["Matin"].endHour,
                end:
                  this.$data.date +
                  " " +
                  this.$data.openHoursDay["Après-midi"].startHour,
              });
            }
          }
        );
      } else {
        this.$data.errorMessage = "L'établissement n'est pas ouvert ce jour";
      }
    },
    startHour: function () {
      if (this.$data.openHoursDay.Matin !== undefined) {
        return this.$data.openHoursDay.Matin.startHour.split(":")[0];
      } else {
        return this.$data.openHoursDay["Journée entière"].startHour.split(
          ":"
        )[0];
      }
    },
    endHour: function () {
      if (this.$data.openHoursDay.Matin !== undefined) {
        return this.$data.openHoursDay["Après-midi"].endHour.split(":")[0];
      } else {
        return this.$data.openHoursDay["Journée entière"].endHour.split(":")[0];
      }
    },
    handleSubmit: function (values) {
      values.establishment = this.$data.establishment["@id"];
      let tmp = [];
      tmp.push(values.service);
      values.services = tmp;
      let end = values.startHour.split(":");
      end = [
        parseInt(end[1], 10) + this.$data.ServiceSelected.duration > 60 ? parseInt(end[0], 10) + 1 : end[0],
        parseInt(end[1], 10) + this.$data.ServiceSelected.duration > 60
          ? parseInt(end[1], 10) - (60 - this.$data.ServiceSelected.duration)
          : parseInt(end[1], 10) + this.$data.ServiceSelected.duration,
      ].join(":");
      values.startHour = this.$data.date + " " + values.startHour;
      this.$parent.waiting = true;
      createAppointment(values).then((res) => {
        this.$parent.waiting = false;
        if (res.code > 204) {
          this.$data.errorMessage = res.message;
        } else {
          this.$data.appointments.push({
            title: "Votre rendez-vous",
            start: values.startHour,
            end: this.$data.date + " " + end,
          });

          this.$noty.success("Votre rendez-vous a bien été pris en compte");
        }
      });
    },
    ChangeSelectedService: function(service){
      this.$data.ServiceSelected = service;
    }
  },
};
</script>

<style scoped lang="scss">
.bg {
  background-image: url("../../assets/img/background-coiffeur8.jpg");
}
.mt {
  margin-top: 22px;
}

#bigcalendar{
  padding: 0%;
  width: 80%;
  margin: auto;
}
</style>