<template>
    <div>
        <RegisterForm/>
    </div>
</template>

<script>
import RegisterForm from '../Forms/CreateForms/RegisterForm.vue';

export default {
    name: "Login",
    components: {
        RegisterForm
    }
}
</script>