<template>
   <div class="hello">
        <section class="bg mt">
            <div class="filter"></div>
            <h1>Créer des services</h1>
        </section>
        <CreateServicesForm/>
    </div>
</template>

<script>
import CreateServicesForm from "../Forms/CreateForms/CreateServicesForm.vue";
export default {
    name: 'EditServices',
    components: {
        CreateServicesForm
    }
}
</script>

<style scoped lang="scss">
.bg {
  background-image: url("../../assets/img/background-coiffeur8.jpg");
}

.mt {
  margin-top: 22px;
}
</style>