<template>
  <div class="hello">
    <section class="bg mt">
      <div class="filter"></div>
      <h1>Gérer les Nouveaux établissements</h1>
    </section>
    <div class="conteneur" id="new-establishments">
      <section class="flex">
        <section
          class="card col-3"
          v-for="item in establishments"
          :key="item.commercialName"
        >
          <img src="https://picsum.photos/500/500" alt="image" />
          <li>
            <h3>{{ item.commercialName }}</h3>
            <br />
            <span>{{ item.city }} {{ item.zipCode }}</span>
            <img :src="item.illustration" />
            <p class="content-name">{{ item.name }}</p>
            <br />
            <p class="content-description">
              <span>Description :</span><br />{{ item.description }}
            </p>
            <div class="col-12">
                <button class="form-cta first-cta" @click="() => updateStatutEstablishment(item, false)">Refuser</button>
            </div>
            <div class="col-12">
                <button class="form-cta second-cta" @click="() => updateStatutEstablishment(item, true)">Accepter</button>
            </div>
            <!-- <p>{{ item.openHours }}</p> -->
          </li>
        </section>
      </section>
    </div>
  </div>
</template>

<script>
import { getEstablishmentsInactive, activeEstablishment } from "../../lib/api";
export default {
  name: "ValidNewEstablishments",
  data: () => ({
    establishments: [],
  }),
  mounted: function () {
    this.$parent.waiting = true;
    getEstablishmentsInactive().then(
      (res) => {
        this.$parent.waiting = false;
        this.$data.establishments = res
      }
    );
  },
  methods: {
      updateStatutEstablishment: function(establishment, value){
          establishment.active = value;
          establishment.department = establishment.department['@id'];
          this.$parent.waiting = true;
          activeEstablishment(establishment).then(() => {
            this.$parent.waiting = false;
            this.$noty.success("L'établissement a bien été " + (value ? "activé." : "refusé."))
          })
      }
  }
};
</script>

<style scoped lang="scss">
.bg {
  background-image: url("../../assets/img/background-coiffeur6.jpg");
}
.mt {
  margin-top: 22px;
}

.first-cta{
  margin: 1vh 0vh;
  background-color: $red;
}
</style>