<template>
  <section id="app">
    <content-loader v-show="waiting"></content-loader>
    <noty></noty>
    <header class="flex-space">
      <img class="logo" alt="Vue logo" src="./assets/img/logo.png">
      <template v-if="connected">
         <nav >
          <ul>
            <li>
              <router-link :to="{ name: 'Establishments' }">Rechercher un établissement</router-link>
            </li>
            <li  v-if="role === 'ROLE_MANAGER' || role === 'ROLE_ADMIN'" >
              <router-link :to="{ name: 'MyEstablishments' }">Mes établissements</router-link>
            </li>
            <li v-if="role === 'ROLE_ADMIN'" >
              <router-link :to="{ name: 'Administration'}">
                Administration
              </router-link>
            </li>
            <li  v-if="role === 'ROLE_MANAGER'">
              <router-link :to="{ name: 'DemandeRattachements'}">
                Demande de rattachements
              </router-link>
            </li>
            <li>
              <router-link :to="{ name: 'MyProfile' }"> Mon profil</router-link>
            </li>
            <li v-if="role ==='ROLE_CLIENT'">
              <router-link :to="{ name: 'MyRdv'}" >Mes Rendez-vous</router-link>
            </li>
          </ul>
        </nav>
      </template>
     
      <template v-else>
        <nav >
            <ul>
              <li>
                <router-link :to="{ name: 'Home' }"> Accueil</router-link>
              </li>
              <li>
                <router-link :to="{ name: 'Register' }"> S'inscrire</router-link>
              </li>
            </ul>
        </nav>
      </template>
      <button v-if="connected" @click="disconnect" title="Déconnexion" rel="noopener noreferrer" class="cta-red">Déconnexion</button>
      <router-link v-else :to="{ name: 'Login'}" title="Connexion" rel="noopener noreferrer" class="cta">Connexion</router-link>
    </header>
    <router-view name="header"/>
    <router-view />
    <!-- <router-view name="footer" /> -->
  </section>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'
import ContentLoader from './lib/ContentLoader.vue'
import Noty from './lib/Noty.vue'

export default {
  name: 'App',
  mounted: function() {
    if(window.localStorage.getItem('env') !== "apiplatform" || window.localStorage.getItem('env') !== 'prisma')
    {
      window.localStorage.setItem('env', 'apiplatform');
    }
  },
  data: () => ({
    connected: window.localStorage.getItem('JWT') !== null && window.localStorage.getItem('JWT') !== undefined,
    role: window.localStorage.getItem('Role'),
    waiting: false
  }),
  components: {
    "content-loader": ContentLoader,
    "noty": Noty
  },
  methods: {
    disconnect: function(){
      this.$data.connected = false;
      window.localStorage.clear();
      window.localStorage.setItem('env', 'apiplatform');
      this.$router.push({name: 'Login', params: {connected: false}});
    }
  }
}
</script>

<style scoped lang="scss">
* {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    padding: 0;
    background-color: $white;
    box-shadow: $lightshadow;
    padding: 0% 10%;
    z-index: 99;

    .cta {
        @include cta(20px, $regular, $white, $blue, $XS $S, $lightshadow);
        @extend .radius;
    }

    .cta-red {
        @include cta(20px, $regular, $white, $red, $XS $S, $lightshadow);
        @extend .radius;
        border: none;
        padding: 0.5% 1%;
    }
}

.logo {
    cursor: pointer;
    width: 5%;
}

nav {
    list-style: none;

    li {
        display: inline-block;
        padding: 0 15px;

        a {
            transition: all .3s ease 0s;
            color: $black;

            &:hover {
                color: #006C87;
            }
        }
    }
}
</style>