#info-establishment {
    margin-top: -8vh;
    z-index: 5;
    position: relative;

    .flex {
        justify-content: start;
    }
}

.box {
    margin-right: $M;
    margin-bottom: $M;
    padding: $M;
    text-align: left;
    color: $black;
    background-color: $white;
    box-shadow: $lightshadow;
    @extend .radius;

    ul li ol {
        list-style: none;
    }

    .cta {
        @include cta(20px, $regular, $white, $blue, $XS $S, $lightshadow);
        @extend .radius;
    }

    img {
        margin: initial;
        width: $XL;
        // margin-right: auto;
        // margin-bottom: $XL;
    }

    h3 {
        @include typoTitre(19px, $bold, $black);
        margin-bottom: $L;
    }
}
