#establishments {
    margin-top: -8vh;
    z-index: 5;
    position: relative;

    .flex {
        justify-content: start;
    }
}

.card {
    margin-right: $M;
    margin-bottom: $M;
    padding: $M;
    text-align: left;
    color: $black;
    background-color: $white;
    box-shadow: $lightshadow;
    @extend .effect-up;
    @extend .radius;

    ul li ol {
        list-style: none;
    }

    .cta {
        @include cta(20px, $regular, $white, $blue, $XS $S, $lightshadow);
        @extend .radius;
    }

    img {
        margin: auto;
        width: 100%;
    }

    h3 {
        @include typoTitre(19px, $bold, $black);
        margin-bottom: $L;
    }

    span{
        @include typoTitre(15px, $bold, $black);
    }

    .content-name{
        @include typoTexte(15px, $regular, $black);
        font-style: italic;
    }

    .content-description{
        @extend .content-name;
        font-style: normal;
        letter-spacing: .5px;
    }
}