.form-titre {
    @include typoTitre(40px, $bold, $black);
    padding-bottom: $L;
    text-align: center
}

.form-cta {
    @include cta(20px, $regular, $white, $blue, $M*1.5, $lightshadow);
    border: none;
    width: 100%;
    @extend .radius;
}

.form-field {
    width: 100%;

    label {
        color: $black;
        font-size: 20px;
        text-transform: capitalize;
        font-family: $titre;
    }

    input {
        margin-top: $S;
        border: 1.5px solid $black;
        padding: $M *1.5;
        margin-bottom: $L;
        @extend .radius;
        font-family: $texte;

        &:focus-within {
            border-color: $blue;
        }
    }

    input[type='checkbox']{
        width: auto;
    }

    textarea{
        @extend input;
        padding: $M;
    }
}

.form-select {
    width: 100%;

    label {
        color: $black;
        font-size: 20px;
        text-transform: capitalize;
        font-family: $titre;
    }

    select {
        margin-top: $S;
        border: 1.5px solid $black;
        padding: $M *1.5;
        margin-bottom: $L;
        width: 100%;
        appearance: none;
        line-height: inherit;
        z-index: 1;
        outline: none;
        @extend .radius;

        &::-ms-expand {
            display: none;
        }

        &:not(.select--multiple)::after {
            content: "";
            justify-self: end;
            width: 0.8em;
            height: 0.5em;
            background-color: var(--select-arrow);
            clip-path: polygon(100% 0%, 0 0%, 50% 100%);
        }
    }
}

.form-radio {
    width: 100%;
    height: 20px;

    label {
        color: $black;
        font-size: 20px;
        text-transform: capitalize;
        font-family: $titre;
        margin-right: $M;
    }

    input[type="radio"],
    input[type="checkbox"] {
        margin-bottom: $L;
        width: auto;
    }
}

.form-groupe {

    &--center {
        width: 50%;
        margin: auto;
        padding: $L;
        background-color: $white;
        box-shadow: $lightshadow;
        margin-top: 20vh;
        margin-bottom: 10vh;
        z-index: 3;
        @extend .radius;
        position: relative;
    }
}

.radius {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
}

/****COMPONENT RECHERCHE *****/
.matchedQueries {
    padding: 2%;
    margin: 3px;
    box-shadow: 0 2px 5px 3px rgba(100, 176, 235, 0.15);
    border-radius: 10px;
    background-color: white;
    position: relative;
    top: -25px;
}

.matchedQueries p {
    border-bottom: 1px solid black;
    padding: 10px 7px;
    @extend .effect-up;

}

.matchedQueries p:hover {
    background-color: RGBA(0,0,0,0.04)
}

.matchedQueries p:last-of-type {
    border-bottom: none;
}
