.conteneur {
  width: $conteneur;
  margin: auto;
  display: block;
}

.flex {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-space {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

$i : 1;
$nombreCol: 12;
$margin : 2%;

@for $i from 1 through $nombreCol {
  $width: percentage($i / $nombreCol);

  .col-#{$i} {
    width: $width - $margin;
    @extend .col-responsive;
  }
}

.col-responsive {
  @media screen and (min-width: $mobile) and (max-width: $tablette) {
    width: 100%;
    margin: 2% 0%;

    &:last-child {
      margin-bottom: 0%;
    }
  }
}


.bg {
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $blue;
  overflow: hidden !important;

  .filter {
    position: absolute;
    top: 0;
    left: 0;
    height: 65vh;
    width: 100%;
    background-color: $black;
    opacity: .7;
    z-index: 2;
  }

  h1 {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: $white;
    text-align: center;
    z-index: 3;
    font-weight: $bold;
  }
}