/* 
-------------------------------------------------------
            Fichier regroupant les mixins
-------------------------------------------------------
*/

@mixin typoTitre($size, $weight, $color) {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: $size;
    font-weight: $weight;
    color: $color;
    text-transform: capitalize;

    &--center {
        text-align: center;
        margin: auto;
        display: block;
        width: 100%;
    }
}

@mixin typoTexte($size, $weight, $color) {
    font-family: 'Raleway', sans-serif;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin cta($s, $w, $c, $bcc, $p, $shadow) {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: $s;
    font-weight: $w;
    color: $c;
    background-color: $bcc;
    padding: $p;
    box-shadow: $shadow;
    @extend .effect-up;
}

.effect-up {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);

    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;

    &:hover {
        box-shadow: $mediumshadow;
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
    }
}