// Vert
.noty_theme__mint.noty_type__success{
    color: $white;
    font-weight: $bold;
    //color: rgb(30, 70, 32);
    background-color: #4caf50;
}

// Orange
.noty_theme__mint.noty_type__warning{
    color: $white;
    font-weight: $bold;
    //color: rgb(102, 60, 0);
    background-color:#ff9800;
}

// Rouge
.noty_theme__mint.noty_type__danger{
    color: $white;
    font-weight: $bold;
    //color: rgb(97, 26, 21);
    background-color: #f44336;
}