@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans Caption', sans-serif;

    &:before,
    &:after {
        box-sizing: border-box;
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

*|*:-moz-any-link {
    cursor: pointer !important;
    text-decoration: none !important;
}

*|*:any-link {
    cursor: pointer !important;
    text-decoration: none !important;
}

a,
button {
    cursor: pointer !important;
}

h1 {
    font-size: 50px;
}

:root {
    --input-color: #797d84;
    --input-border: #CDD9ED;
    --input-background: #fff;
    --input-placeholder: #CBD1DC;
    --input-border-focus: #275EFE;
    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: #EEF4FF;
    --group-color-focus: #fff;
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: #678EFE;
}


html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

footer,
header,
nav,
section,
main {
    display: block;
}

body {
    overflow-x: hidden !important;
    background-color: $grey;
}

ol,
ul,
li {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    // -webkit-appearance: none;
    border-radius: 0;
}

body {
    background-color: $grey;
}

img {
    max-width: 100%;
    margin: auto;
    display: block;
}

a,
button {
    cursor: pointer !important;
}

body{
    background-image: url("../assets/img/background-illustration.png");
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    // background-color: $blue;
}