// Font
$titre       : 'PT Sans Caption',
sans-serif;
$texte       : 'Raleway',
sans-serif;

// Colors
$yellow      : #ffe347;
$white       : #ffffff;
$black       : #0a1f44;
$grey        : #f8fafd;
$lightgrey   : #8a94a6;
$info-color  : hsl(214, 79%, 65%);
$blue        : #66CAF2;
$red         : #ec1259;

// Global
$conteneur   : 90%;

// Size
$XXL         : 20%;
$XL          : 10%;
$L           : 5%;
$M           : 2%;
$S           : 1%;
$XS          : .5%;


// Shadow
$lightshadow : 0 2px 5px 3px rgba(100, 176, 235, .15);
$mediumshadow: 0 20px 25px 0 rgba(100, 176, 235, 0.15);

// Radius
$radius      : 3px;

// Font
$regular     : 300;
$bold        : 700;

// Responsive 
$tablette    : 800px;
$mobile : 400px;
