<template>
  <section class="form-groupe">
    <div class="form-groupe--center">
      <Vuemik :initialValues="initialValues" :onSubmit="handleSubmit">
        <template #default="{ handleSubmit }">
          <div class="col-12">
            <Field
              type="text"
              name="siret"
              label="SIRET"
              class="form-field"
              placeholder="SIRET..."
            />
          </div>
          <button type="submit" @click.prevent="handleSubmit" class="form-cta">
            Envoyer la demande
          </button>
        </template>
      </Vuemik>
    </div>
  </section>
</template>

<script>
import { askForJoinEstablishment } from "../../../lib/api";
import Field from "../../../lib/Field";
import Vuemik from "../../../lib/Vuemik";

export default {
  name: "AskForJoiningForm",
  data: () => ({
      initialValues: {
          siret: ""
      }
  }),
  methods: {
      handleSubmit: function(values) {
          askForJoinEstablishment(values.siret).then(() => {
              this.$noty.success('Demande envoyée !')
          })
      }
  },
  components: {
      Vuemik,
      Field
  }
};
</script>

<style scoped lang="scss">
.form-groupe--center {
  margin-top: -3%;
}
</style>