<template>
  <section class="form-groupe">
    <div class="form-groupe--center">
      <h1 class="form-titre">Services</h1>
      <Vuemik :initialValues="initialValues" :onSubmit="handleSubmit">
        <template #default="{ handleSubmit }">
          <section class="flex">
            <Field type="text" name="name" class="form-field" placeholder="Nom du service..." label="Nom du service"/>
            <div class="col-6">
              <Field type="number" name="price" class="form-field" placeholder="Prix du service..." step="0.01" label="Prix du service"/>
            </div>
            <div class="col-6">
              <Field type="number" name="duration" class="form-field" placeholder="Durée du service (en minute)..." label="Durée du service (en minute)"/>
            </div>
            <button
              type="submit"
              @click.prevent="handleSubmit"
              class="form-cta"
            >
              Créer
            </button>
          </section>
        </template>
      </Vuemik>
    </div>
  </section>
</template>

<script>
import Vuemik from "../../../lib/Vuemik";
import Field from "../../../lib/Field";
import { createService } from "../../../lib/api";

export default {
  name: "CreateServicesForm",
  components: {
    Vuemik,
    Field,
  },
  data: () => ({
    initialValues: {
      name: "",
      price: 0,
      duration: 0,
    },
  }),
  methods: {
    handleSubmit: function (values) {
      values.establishment = atob(this.$route.params.encodedId);
      values.active = true;
      values.price.indexOf('.') === -1 && (values.price = parseFloat(values.price + '.00', 10));
      values.duration = parseInt(values.duration, 10);
      this.$parent.$parent.waiting = true;
      createService(values).then(() => {
        this.$parent.$parent.waiting = false;
        this.$noty.success('Le service a bien été créé.')
      })
    },
  },
};
</script>

<style scoped lang="scss">
.form-groupe--center {
  margin-top: -3%;
}

button{
  margin-top: 3vh;
}
</style>