<template>
  <section class="form-groupe">
    <div class="form-groupe--center">
      <Vuemik :initialValues="initialValues" :onSubmit="handleSubmit">
        <template #default="{ handleSubmit }">
          <Field
            type="text"
            name="address"
            label="Adresse"
            class="form-field"
            placeholder="Adresse..."
          />
          <Field
            type="text"
            name="addressComplement"
            label="Complément d'adresse"
            class="form-field"
            placeholder="Complément d'adresse..."
          />
          <Field
            type="text"
            name="city"
            label="Ville"
            class="form-field"
            placeholder="Ville..."
          />
          <Field
            type="text"
            name="zipCode"
            label="Code postal"
            class="form-field"
            placeholder="Code postal..."
          />
          <Field
            type="tel"
            name="phoneNumber"
            label="Numéro de téléphone"
            class="form-field"
            placeholder="Numéro de téléphone..."
          />
          <Field
            type="email"
            name="contactEmail"
            label="Email"
            placeholder="Email..."
            class="form-field"
          />
          <Field
            type="text"
            name="name"
            label="Nom public"
            placeholder="Nom public..."
            class="form-field"
          />
          <Field
            type="text"
            name="commercialName"
            label="Nom commercial"
            placeholder="Nom commercial..."
            class="form-field"
          />
          <Field
            type="textarea"
            name="description"
            label="Description de l'établissement"
            placeholder="Description de l'éablissement..."
            class="form-field"
          />
          <Field
            type="text"
            name="siret"
            label="SIRET"
            placeholder="SIRET..."
            class="form-field"
          />
          <Field
            type="select"
            component="custom"
            name="department"
            class="form-select"
            label="Département"
          >
            <option value="">Sélectionnez votre département</option>
            <option
              v-for="dpt in departments"
              :key="dpt.id"
              :value="dpt.id"
              class="form-select"
            >
              {{ dpt.label }}
            </option>
          </Field>
          <button type="submit" @click.prevent="handleSubmit" class="form-cta">
            Créer mon établissement
          </button>
          {{errorMessage}}
        </template>
      </Vuemik>
    </div>
  </section>
</template>

<script>
import { getAllDepartments, createEstablishment } from "../../../lib/api";
import Vuemik from "../../../lib/Vuemik";
import Field from "../../../lib/Field";
export default {
  name: "CreateEstablishmentForm",
  methods: {
    handleSubmit: function (values) {
      createEstablishment(values).then((res) => {
          if(res.code > 204) {
            this.$data.errrorMessage = res.message;
          } else {
            this.$router.push({name: "Establishments", params: {msg: "Votre établissement " + values.siret + " a bien été créer, veuillez patienter qu'un admin valide votre demande"}})
          }
      });
    },
  },
  components: {
    Vuemik,
    Field,
  },
  data: () => ({
    departments: [],
    errrorMessage: ""
  }),
  mounted: function () {
    getAllDepartments().then((res) => (this.$data.departments = res));
  },
  computed: {
    initialValues: function () {
      return {
        address: "",
        addressComplement: "",
        city: "",
        zipCode: "",
        phoneNumber: "",
        contactEmail: "",
        name: "",
        description: "",
        commercialName: "",
        department: "",
        siret: "",
      };
    },
  },
};
</script>

<style>
.form-groupe--center {
  z-index: 10;
  position: relative;
  margin-top: -10vh;
}
</style>