<template>
    <section class="form-groupe">
        <div class="form-groupe--center">
            <h1 class="form-titre">Inscription</h1>
            <Vuemik
                :initialValues="initialValues"
                :onSubmit="handleSubmit"
            >
                <template #default="{ handleSubmit }">
                    <Field type="email" name="email" class="form-field" placeholder="Saisissez votre email..." label="Email"/>
                    <Field type="text" name="firstname" class="form-field" placeholder="Saisissez votre prénom..." label="Prénom"/>
                    <Field type="text" name="lastname" class="form-field" placeholder="Saisissez votre nom..." label="Nom"/>
                    <Field type="password" name="password" class="form-field" placeholder="Saisissez votre mot de passe..." label="Mot de passe"/>
                    <Field type="date" name="birthdate" class="form-field" label="Saisissez votre date de naissance"/>
                    <Field type="select" component="custom" name="gender" class="form-select" label="Genre">
                        <option value="">Sélectionnez votre genre</option>
                        <option value="Homme" class="form-select" >M.</option>
                        <option value="Femme" class="form-select" >Mme.</option>
                    </Field>
                    <Field type="phone" name="phoneNumber" class="form-field" placeholder="Numéro de téléphone..." label="Téléphone"/>
                    <Field type="select" component="custom" name="department" class="form-select" label="Département">
                        <option value="">Sélectionnez votre départements</option>
                        <option v-for="dpt in departments" :key="dpt.id" :value="dpt.id" class="form-select">
                            {{dpt.label}}
                        </option>
                    </Field>
                    <Field type="radio" name="type" valueRadio="client" class="form-radio" label="Type"/>
                    <Field type="radio" name="type" valueRadio="manager" class="form-radio" />
                    <button type="submit" @click.prevent="handleSubmit" class="form-cta">S'inscrire</button>
                    <div>
                        <p v-for="error in errorsRegister" :key="error">{{error}}</p>
                    </div>
                </template>
            </Vuemik>
        </div>
    </section>
</template>

<script>
import Vuemik from "../../../lib/Vuemik";
import Field from "../../../lib/Field";
import { getAllDepartments, register } from '../../../lib/api';

export default {
    name: "RegisterForm",
    data: () => ({
        initialValues: {
            email: "",
            password: "",
            firstname: "",
            lastname: "",
            birthdate: "",
            gender: "",
            phoneNumber: "",
            department: "",
            type: "client"
        },
        departments: [],
        errorsRegister: []
    }),
    components: {
        Vuemik,
        Field
    },
    mounted: function() {
        getAllDepartments().then(res => this.$data.departments = res);
    },
    methods: {
        handleSubmit: function(values) {
            console.log(values);
            console.log(this.$data.initialValues);
            this.$data.errorsRegister = [];
            register(values).then(res => {
                res.violations && res.violations.forEach(elem => {
                    this.$data.errorsRegister.push(`${elem.propertyPath}: ${elem.message}`)
                });
                if(this.$data.errorsRegister.length === 0)
                {
                    this.$router.push({name: 'Login'});
                }
            });
        }
    }
}
</script>

<style scoped>
.form-cta{
    margin-top: 5%;
}
</style>