<template>
  <section class="form-groupe">
    <div class="form-groupe--center">
      <h1 class="form-titre">VueMik</h1>
        <Vuemik
          :initialValues="initialValues"
          :onSubmit="handleSubmit"
          :validate="validateForm"
          :validationSchema="validationSchema"
          :Notifications="Noty"
        >
          <template #default="{handleSubmit}">
          <Field type="text" name="itemName" class="form-field"  label="Prénom"/>
          <!-- <Field type="checkbox" name="completed" /> -->
          <Field type="text" name="lastName" class="form-field"  label="Nom"/>
          <!-- <Field
            type="select"
            component='improved'
            name="category2"
            :options="categories"
          />

          <Field name="category" type="select" component="custom">
            <option v-for="item in categories" :key="item">
            {{ item }}
            </option>
            </Field>

            <Field type="select" name="article" component="custom">
            <option v-for="item in articles" :key="item">
            {{ item }}
            </option>
          </Field> -->

          <button class="form-cta" type="submit" @click.prevent="handleSubmit">VueMik Exemple - Envoyé</button>
          </template>
        </Vuemik>
    </div>
  </section>
</template>

<script>

const options = {
  cuisine: ["cuillères", "fourchettes", "couteaux"],
  salon: ["canapé", "TV"],
};
import * as Yup from "yup";
import Vuemik from "../../lib/Vuemik.vue";
import Field from "../../lib/Field.vue";

//import VueNoty from 'vuejs-noty'
//import Noty from "../../lib/Noty.vue";

export default {  
  name: "Form",
  data: () => ({
    initialValues: {
      itemName: "test",
      lastName: "FAVIEZ",
      // completed: false,
      // category: Object.keys(options)[0],
      // article: "",
    },
  }),
  components: {
    Vuemik,
    Field
    // VueNoty
    },
  methods: {
    addItem: function (values) {
      this.$emit("add-todo", values);
    },
    //Bonus
    validateForm: function(values) {
      let errors = [];
      if(values.lastName.length === 0){
        errors.push("Le champ 'Nom' est vide");
        this.$noty.warning("Oops, Le champ 'Nom' est vide")
      }
      if(values.lastName === 'FAVIEZ'){
        errors.push("Il peut pas y avoir deux FAVIEZ")
        this.$noty.warning("Oops, Il peut pas y avoir deux FAVIEZ")
      }
      return errors;
    },
    handleSubmit: function (e) {
      console.log("e", e)
      console.log("test")
    },
    Noty: function() {
      console.log("notyyy")
      //this.$noty.show("Hello world!")
    }
  },
  computed: {
    categories: function () {
      return Object.keys(options);
    },
    articles: function () {
      return options[this.$data.initialValues.category];
    },

    //Bonus
    validationSchema: () => {
      return Yup.object().shape({
        itemName: Yup.string()
          .min(2, "Trop court !")
          .max(50, "Trop long !")
          .required("Obligatoire"),
        lastName: Yup.string()
          .min(2, "Trop court !")
          .max(50, "Trop long !")
          .required("Obligatoire")     
        // email: Yup.string().email("Invalid email").required("Required"),
      });
    },
  },
};
</script>